## Import Library

In [1]:
import h5py as hp
import pandas as pd
import numpy as np
import time as tm

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

## Load song_json

In [2]:
df2=pd.read_csv('song.json',sep='\t')
df2.rename(columns={'id': 'song_id'}, inplace=True)
#df2['artist_id']=df2['artist_id'].astype(str)
df2.head()

     song_id  album_id  artist_id
0   25267636   2367943       9025
1  213410542  20629604    7106311
2   47747224   4827544    2479753
3   36945181   3715401    1004781
4   37404043   3756480      21373

## Load Various_Artist

In [3]:
Various_Artist=pd.read_csv('Various_Artist',sep='\t')
Various_Artist.head()

       artist_name  artist_id
0  Various Artists   297472.0
1  Various Artists    21023.0
2  Various Artists    21373.0
3  Various Artists   930049.0
4  Various Artists    31104.0

## Merge artist by song_id and Remove Various_Artist

In [4]:
size=0
start_time=tm.time()
for ii in range(97,101,1):
    for j in range(97,123,1):
        file_name='a'+chr(ii)+chr(j)
        df=pd.read_csv(file_name,sep='\t')
        df=df.merge(df2,on='song_id', how='left')
        df.drop(['album_id'], axis=1, inplace=True)
        df=df[~df['artist_id'].isin(Various_Artist.artist_id)]
        df.to_hdf(file_name+'.h5','a')
        print ('File_name:%s Data_size:%d'%(file_name,len(df)))
        size=size+len(df)
        if(ii==100 and j==108):
            break
end_time=tm.time()-start_time
print ('Data_size:%d Process_time:%d'%(size,end_time))

File_name:aaa Data_size:9221234
File_name:aab Data_size:8881714
File_name:aac Data_size:8771946
File_name:aad Data_size:8569205
File_name:aae Data_size:7698015
File_name:aaf Data_size:7753748
File_name:aag Data_size:8022756
File_name:aah Data_size:7379202
File_name:aai Data_size:7766799
File_name:aaj Data_size:7840979
File_name:aak Data_size:7739387
File_name:aal Data_size:7768543
File_name:aam Data_size:8235947
File_name:aan Data_size:8410250
File_name:aao Data_size:8988573
File_name:aap Data_size:9389539
File_name:aaq Data_size:9336591
File_name:aar Data_size:9310195
File_name:aas Data_size:9289379
File_name:aat Data_size:9328717
File_name:aau Data_size:9354862
File_name:aav Data_size:9311345
File_name:aaw Data_size:9273926
File_name:aax Data_size:9305030
File_name:aay Data_size:9328123
File_name:aaz Data_size:9289823
File_name:aba Data_size:9323306
File_name:abb Data_size:9339267
File_name:abc Data_size:9225522
File_name:abd Data_size:9302419

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:1471: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block2_values] [items->['played_length']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

File_name:abe Data_size:9286364
File_name:abf Data_size:9174491
File_name:abg Data_size:9178720
File_name:abh Data_size:9252551
File_name:abi Data_size:9272507
File_name:abj Data_size:9312126
File_name:abk Data_size:9239103
File_name:abl Data_size:9204437
File_name:abm Data_size:9208043
File_name:abn Data_size:9304468
File_name:abo Data_size:9344793
File_name:abp Data_size:9330572
File_name:abq Data_size:9355006
File_name:abr Data_size:9341172
File_name:abs Data_size:9381414
File_name:abt Data_size:9374803
File_name:abu Data_size:9369473
File_name:abv Data_size:9364580
File_name:abw Data_size:9163011
File_name:abx Data_size:9109778
File_name:aby Data_size:9042450
File_name:abz Data_size:9160650
File_name:aca Data_size:9143326
File_name:acb Data_size:9332170
File_name:acc Data_size:9360132
File_name:acd Data_size:9129984
File_name:ace Data_size:9019563
File_name:acf Data_size:9071522
File_name:acg Data_size:8864150
File_name:ach Data_size:9030733
File_name:aci Data_size:8943709
File_name:acj Data_size:9293261
File_name:ack Data_size:9287993
File_name:acl Data_size:9176239
File_name:acm Data_size:9192556
File_name:acn Data_size:9340951
File_name:aco Data_size:8875538
File_name:acp Data_size:8542965
File_name:acq Data_size:8420743
File_name:acr Data_size:8922437
File_name:acs Data_size:9081830
File_name:act Data_size:9025965
File_name:acu Data_size:9196963
File_name:acv Data_size:9438892
File_name:acw Data_size:9347696
File_name:acx Data_size:9257079
File_name:acy Data_size:9341905
File_name:acz Data_size:9290002
File_name:ada Data_size:9219636
File_name:adb Data_size:9105947
File_name:adc Data_size:8331210
File_name:add Data_size:8814204
File_name:ade Data_size:9420371
File_name:adf Data_size:9393309
File_name:adg Data_size:9209978
File_name:adh Data_size:9238529
File_name:adi Data_size:9407008
File_name:adj Data_size:9388427
File_name:adk Data_size:9374273
File_name:adl Data_size:7205858
Data_size:811563908 Process_time:1908

In [5]:
df.head()

           msno    song_id  song_length  played_length  day  artist_id
0       5471836  159134550       236121         236121   11    5603802
1      12628193  143715991       298945           4010   12    3051448
2      66768647  171890544       215197         189231   10       4261
3  338067507366    5975275       178625         178625   12      55135
4     127131638  174913074       249443         249443   12    1357924

In [6]:
df.dtypes

msno             int64
song_id          int64
song_length      int64
played_length    int64
day              int64
artist_id        int64
dtype: object

In [7]:
df[df['msno']==5471836]

            msno    song_id  song_length  played_length  day  artist_id
0        5471836  159134550       236121         236121   11    5603802
2224073  5471836  159134585       250000         251115    8    5603802
3660196  5471836  159134599       256784         103758    6    5603802
4898644  5471836  159134522        86000          40829    6    5603802
7040951  5471836  159134529       117000         117708    6    5603802

In [8]:
df[df.played_length >df.song_length]

                 msno    song_id  song_length  played_length  day  artist_id
5            95166581     946203       203000         204042   12       8280
6           148469323  118473854       213000         213415   12    4665401
25           52836200    1639507       230000         231079   12        439
34          127417225    1368647       277000         277917   12      23357
56           51475241   48489696       124000         125063   10    2693046
73           84447095  194875631       244000         244553   12      12749
74           25378364   67987166       234161         234292   12     467924
79           33626193  212157458       185443         185458   12       5301
84          150509054  177472463       191000         191791   12    3267388
105          28720264    1896225       267000         267703   12      13531
111           6042012    3959527       227000         228066   12      49335
114          95805344   28896417       188000         188430    9    3395049
139         154490601     679129       317000         317440   12       4261
152          96568709   48484301       206000         206080   12     207038
164          10827621  213292176       220000         221048   12      29433
176          23381998    1004250       279000         279545   12       7914
192           3932086  189992957       227000         227579   12     741339
199         127700393    1576588       252000         253028   12       9185
205          25925485    3517725       283000         283507   12      49897
209          16380175    1936039       248000         249208   12    3177329
217         103268425    1601451       226000         226795   12       9337
218           3499846     850081       255000         255321   12       5965
220      338064668889    2267396       232000         232176   12      29463
227           6803119     884375       304000         305058   12       1093
232         125476808   85276870       263000         264046   12       6665
238           9794399   55622730       298000         298423   12       8280
241      338065870150   87976897       205923         205961   12    3913666
243          40147937  214082290       238000         238994   12      30409
246          29209106    1402139       281000         281234   12       5301
248      338065799168  169681365       221000         221388   10     850466
...               ...        ...          ...            ...  ...        ...
7486818       2542105    1888831       230000         231027    8      22279
7486849  338062248802    3731922       260000         260467    6      24684
7486857      26986030   17742921       269000         269192    8        214
7486868      72796317    2306636       288000         288731    8       6443
7486879  338062910615  205517837       212000         213055    8    4330967
7486882       8438869    2251701       185000         185678    8      55830
7486913      32639757    2173215       254000         254305    8      21493
7486925      20432249   51518308       153000         153887    8     962734
7486927      57010010    4452075       319000         320052    8      17978
7486938      10254023  126049520       319000         319582    8    2479126
7486944      14235399  197901742       214000         214544    8      10939
7486949      32994684    1387298       289000         289123    8        839
7486950      67944005    5598246       212000         212648    8      51697
7486963      59664863   64180302       261000         261317    8      24877
7486968     151925798    2110287       256000         256340    8       4261
7486982       7052340   24929971       279000         279034    8     204988
7486987      24913606    3927064       229000         229277    8     218110
7486988     135498763    4063926       242000         242286    8     225666
7486995     124761937  208585159       225000         226038    8      55135
7487001     153063470  208179743       162000         162958    8     562182
7487004     121652746   62766173       219000         219498    8      43934
7487039       8489519    4247667       208000         208167    8       7332
7487042      36027843  208592597       254000         254354    8      51937
7487063     153202942  171890544       215144         215197    8       4261
7487064      87710435   49843769       185000         186044    8      57432
7487070      50461256     849175       313000         313156    8       7713
7487092      66521747  179574297       205000         206002    8    4227444
7487100     108364690    1998815       280000         280947    8       8280
7487116      96829447  136090328       217000         217783    8    2236899
7487131      49924427  162715162       249000         250018    8       6651

[822339 rows x 6 columns]

In [9]:
df.groupby(['msno','artist_id','day']).count()

                            song_id  song_length  played_length
msno         artist_id day
17           31603     8          1            1              1
22           21688     7          3            3              3
70           74        12         1            1              1
             3083      7         25           25             25
                       8          3            3              3
                       11         2            2              2
                       12         2            2              2
116          14        7          1            1              1
             278       7          1            1              1
             5301      7          1            1              1
             18811     7          1            1              1
             43934     8          1            1              1
             287889    7          1            1              1
                       8          2            2              2
             325977    7          1            1              1
             479404    8          1            1              1
                       12         1            1              1
             842342    8          1            1              1
             3333841   7          1            1              1
             6142842   7          1            1              1
             6474584   8          1            1              1
             6702023   8          2            2              2
324          5301      7          1            1              1
446          2424531   12         1            1              1
505          4261      7          1            1              1
             34866     8          1            1              1
             37264     8          1            1              1
             1357924   8          1            1              1
             6119568   12         1            1              1
861          3188      11         1            1              1
...                             ...          ...            ...
338069324979 6651      12         1            1              1
             2424531   12         1            1              1
338069324980 4261      12         1            1              1
338069325008 24632     12         1            1              1
338069325062 4508648   12         1            1              1
338069325068 4330967   12         1            1              1
338069325122 74        12         1            1              1
338069325132 49897     12         1            1              1
338069325179 2424531   12         1            1              1
338069325189 7200438   12         1            1              1
338069325244 22036     12         1            1              1
338069325245 6091212   12         1            1              1
338069325283 4714      12         1            1              1
             2302317   12         1            1              1
338069325315 4261      12         1            1              1
338069325329 55507     12         1            1              1
338069325345 6142842   12         1            1              1
338069325354 2424531   12         1            1              1
338069325392 2578468   12         1            1              1
338069325404 8280      12         1            1              1
338069325428 28678     12         1            1              1
338069325429 3267388   12         1            1              1
338069325467 4209      12         1            1              1
338069325482 6651      12         1            1              1
338069325504 2578468   12         1            1              1
338069325523 4388      12         1            1              1
338069325717 2993763   12         1            1              1
338069325800 6651      12         1            1              1
338069325867 49897     12         1            1              1
338069325896 2993763   12         1            1              1

[5139160 rows x 3 columns]

In [10]:
df[df['msno']==70]

         msno   song_id  song_length  played_length  day  artist_id
108386     70   2178653       279040         279040   11       3083
475245     70   3588025       276000         276741   11       3083
841022     70   1766859       263000         263445    7       3083
1243756    70   1783175       266000         266214    7       3083
1426326    70   2177689       215066         215066   12         74
1649752    70   2157020       232000         232986    7       3083
1694970    70   1024526       262060         262060    7       3083
1774184    70    839656       279000         279928   12       3083
1788039    70    839662       361000         361535   12       3083
1878638    70    970165       249000         249417    7       3083
1891274    70   2182333       251000         251220    7       3083
2068770    70   2182333       251000         251220    7       3083
2862955    70  55304218       230000         230165    7       3083
3125593    70    859539       273000         273946    7       3083
3209424    70    970163       293042         293042    7       3083
3215546    70   1459753       246000         246361    7       3083
3532101    70   1459753       246000         246361    7       3083
3897429    70   3588025       276000         276741    7       3083
4106466    70    970165       249000         249417    7       3083
4986216    70   1783175       266000         266214    8       3083
4998299    70   1459753       246000         246361    8       3083
5010903    70    859539       273000         273946    8       3083
5408068    70   1024539       286000         286798    7       3083
5641830    70   2178653       279040         279040    7       3083
5707827    70   1783175       266000         266214    7       3083
5786968    70    970168       238000         238890    7       3083
5799616    70    970165       249000         249417    7       3083
6105017    70   1024538       225019         225019    7       3083
6354118    70    970163       293042         293042    7       3083
6631443    70   3588023       244000         244689    7       3083
6713517    70   1024526       262060         262060    7       3083
6838834    70    970168       238000         238890    7       3083
7275025    70    839810       262000         262870    7       3083

In [11]:
df.played_length/df.song_length

0          1.000000
1          0.013414
2          0.879338
3          1.000000
4          1.000000
5          1.005133
6          1.001948
7          1.000000
8          0.056000
9          0.019314
10         1.000000
11         1.000000
12         0.001651
13         0.999209
14         1.000000
15         0.999682
16         0.880377
17         1.000000
18         0.999193
20         1.000000
21         0.999908
22         0.011206
23         0.992908
24         1.000000
25         1.004691
26         1.000000
27         0.990997
28         1.000000
29         0.133459
30         0.999911
             ...
7487106    1.000000
7487107    1.000000
7487108    1.000000
7487109    0.012112
7487110    0.002941
7487111    0.994033
7487112    0.027796
7487113    0.992425
7487114    0.003429
7487115    1.000000
7487116    1.003608
7487117    0.365407
7487119    1.000000
7487120    1.000000
7487121    0.987716
7487122    1.000000
7487123    1.000000
7487124    1.000000
7487125    1.000000
7487126    1.000000
7487127    1.000000
7487128    0.997992
7487129    1.000000
7487130    1.000000
7487131    1.004088
7487132    1.000000
7487133    0.468368
7487134    1.000000
7487135    1.000000
7487136    1.000000
Length: 7205858, dtype: float64